body{
    background-color: brown;
    font-family: Verdana;
}
#header{
    background-color: #006400;
    font-size: 120%; font-variant: small-caps;
    color: white; text-align: center;
    padding-top: 10px; padding-bottom: 10px; 
    height: 100%; width: 87.5%; 
    margin-left: auto; margin-right: auto;
    margin-top: 10%; margin-bottom: 0px;
}

#menu{
    background-color: darkgreen;
    color: white; text-align: center;
    width: 87.5%;
    margin-left: auto; margin-right: auto;
    margin-top: 0px;
    text-align: right;
}
#menu li{
    display: inline-block;
}

#menu a{
	color:#000;
	background:limegreen;
	padding:1px;
    text-align: center;
}